@import "../styles/base";

.contact {
  width: 540px;
  position: relative;

  @media screen and (max-width: 670px) {
    width: 100%;
    height: 120%;
  }

  margin: auto;

  .brand {
    box-sizing: border-box;
    cursor: pointer;
    width: fit-content;
    transition: 0.3s;
    margin: 6vh auto;
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0px 10px 20px rgba($color: rgb(110, 110, 110), $alpha: 0.7);
    }
    padding: 50px;
    @media screen and (max-width: 420px) {
      padding: 20px;
    }
    background: black;
    position: relative;
    background-image: linear-gradient(
      120.12deg,
      #acacac 0%,
      rgba(0, 0, 0, 0) 50.06%,
      #ffffff 97.94%
    );

    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.2s;
    z-index: 100;
    gap: 30px;

    &::before {
      content: "";
      width: 10%;
      height: 2000px;
      background: rgba(0, 0, 0, 0.795);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -10;
      transform: translate(-50%, -50%) rotate(30deg);
    }

    &::after {
      content: "";
      background: #19171b;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background-size: 35%, cover;
      background-repeat: no-repeat;
      background-position: bottom right, center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      box-sizing: border-box;
      z-index: -10;
    }

    &:hover::before {
      // animation: bgRotate 3s 1;
      @keyframes bgRotate {
        0% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
        50% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(360deg);
        }
        75% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        100% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
      }
    }

    h2,
    p {
      text-align: center;
    }

    h2 {
      font-family: gilroyBold;
      font-size: 3.5em;
      margin: 0px;
      text-transform: capitalize;

      @media screen and (max-width: 400px) {
        font-size: 3em;
      }
      @media screen and (max-width: 350px) {
        font-size: 2.5em;
      }
    }
    h2:nth-child(2) {
      color: $green;
    }

    p {
      font-family: gilroyRegular;
      font-weight: 400;
      font-size: 1.1em;
      line-height: 1.6em;
      margin: 30px auto;
    }

    .inputBox {
      font-family: gilroyRegular;
      font-weight: 400;
      color: white;
      position: relative;
      margin: 30px auto;
      label {
        position: absolute;
        left: 0%;
        margin: 3px 10px;
        transition: 0.3s;
      }

      input,
      textarea {
        font-family: gilroyRegular;
        font-weight: 400;
        font-size: 1.09em;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        background: transparent;
        outline: none;
        border: none;
        color: white;
        border-bottom: 2px solid #1fc24d4d;

        &:focus + label {
          transform: scale(0.7) translate(-25%, -130%);
          color: $green;
        }
      }

      textarea {
        resize: none;

        &::-webkit-scrollbar-thumb {
          border-radius: 30px;
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          width: 8px;
        }
      }

      .active {
        transform: scale(0.7) translate(-25%, -130%);
        color: $green;
      }
    }
    button {
      font-family: gilroyBold;
      width: 100%;
      padding: 15px;
      border: none;
      outline: none;
      font-weight: 400;
      font-size: 1.2em;
      background: $green;
      border-radius: 10px;
      cursor: pointer;
    }

    .socials {
      margin: 0px auto;
      margin-top: 20px;
      text-align: center;
      a {
        margin: 0px 10px;
      }
    }
  }

  .images {
    position: absolute;
    top: 50%;
    width: 150%;
    height: 100%;

    @media screen and (max-width: 830px) {
      width: 120%;
    }

    @media screen and (max-width: 670px) {
      // display: none;
      width: 100%;
      height: 120%;
    }
    // background: red;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 170px;
      height: 170px;

      @media screen and (max-width: 670px) {
        display: none;
      }

      position: absolute;
      &:nth-child(1) {
        left: 0%;
        top: 10%;
        animation: fleftanimation 1.5s 1;
        @media screen and (max-width: 670px) {
          top: 0%;
          left: -10px;
          display: block;
        }

        @keyframes fleftanimation {
          from {
            left: 10%;
          }
          to {
            left: 0%;
          }
        }
      }
      &:nth-child(2) {
        right: 0%;
        top: 10%;
        animation: frightanimation 1.5s 1;

        @keyframes frightanimation {
          from {
            right: 10%;
          }
          to {
            right: 0%;
          }
        }
        @media screen and (max-width: 670px) {
          top: 0%;
          display: block;
          right: -10px;
        }
        @media screen and (max-width: 460px) {
          display: none;
        }
      }
      &:nth-child(3) {
        left: 5%;
        top: 40%;
        animation: sleftanimation 2s 1;
        @keyframes sleftanimation {
          from {
            left: 10%;
          }
          to {
            left: 5%;
          }
        }
      }
      &:nth-child(4) {
        right: 5%;
        top: 40%;
        animation: srightanimation 2s 1;
        @keyframes srightanimation {
          from {
            right: 10%;
          }
          to {
            right: 5%;
          }
        }
      }
      &:nth-child(5) {
        left: 10%;
        bottom: 10%;
        animation: lleftanimation 2.5s 1;
        @keyframes lleftanimation {
          from {
            left: 15%;
          }
          to {
            left: 10%;
          }
        }

        @media screen and (max-width: 670px) {
          bottom: 0%;
          display: block;

          left: -10px;
        }
        @media screen and (max-width: 460px) {
          display: none;
        }
      }
      &:nth-child(6) {
        right: 10%;
        bottom: 10%;
        animation: lrightanimation 2.5s 1;
        @keyframes lrightanimation {
          from {
            right: 15%;
          }
          to {
            right: 10%;
          }
        }
        @media screen and (max-width: 670px) {
          bottom: 0%;
          right: -10px;
          display: block;
        }
      }
    }
  }
}
