@import "../styles/base";

.section__tag {
  font-family: gilroyRegular;
  font-size: 1.2em;
  color: #ffffff;

  @media screen and (max-width: 600px) {
    font-size: 1.1em;
  }
  @media screen and (max-width: 310px) {
    font-size: 0.9em;
  }
}
.header {
  text-align: center;
  padding: 7em 0px;
  position: relative;

  .bgImg {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }

  .scrollImg {
    margin: auto;
    margin-top: 11em;
  }
  &__tag {
    font-family: gilroyRegular;
    font-size: 1.2em;
    color: #ffffff;

    @media screen and (max-width: 600px) {
      font-size: 1.1em;
    }
    @media screen and (max-width: 310px) {
      font-size: 0.9em;
    }
  }
  &__heading {
    font-family: gilroyBold;
    font-size: 4em;
    margin: 20px auto;
    width: 90%;

    line-height: 1.1em;
    @media screen and (min-width: 999px) {
      font-size: 5em;
    }

    @media screen and (max-width: 570px) {
      font-size: 3.5em;
    }
    @media screen and (max-width: 380px) {
      font-size: 3em;
    }
    @media screen and (max-width: 280px) {
      font-size: 2em;
    }
    span {
      color: $green;
    }
  }
}

.button__container {
  margin: 40px auto;
  width: fit-content;
  padding: 15px 0px;
  position: relative;
  transition: 0.5s;
  border: 1px solid $green;

  &::before {
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    top: 0%;
    left: 0px;
    background: $green;
    transition: 0.4s;
    z-index: -10;
  }

  &:hover::before {
    width: 100%;
  }

  .button {
    padding: 15px 60px;
    z-index: 10;
    position: relative;
    font-family: gilroyBold;
    font-weight: 400;
    color: $green;
    transition: 0.3s;
  }

  &:hover .button {
    color: white;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 40px rgba($green, 0.8);
  }
}

.services {
  text-align: start;
  &__heading {
    font-family: gilroyBold;
    font-size: 4.25em;

    max-width: 800px;
    width: 90%;
    line-height: 1.1em;

    span {
      color: $green;
      display: inline-block;
      margin: 0px 1px;
      &:nth-child(2) {
        transform: rotate(-10deg);
      }
      &:nth-child(3) {
        transform: rotate(10deg);
      }
      &:nth-child(4) {
        transform: rotate(-10deg);
      }
      &:nth-child(5) {
        transform: rotate(-10deg);
      }
      &:nth-child(6) {
        transform: rotate(10deg);
      }
      &:nth-child(7) {
        transform: rotate(10deg);
      }
    }
  }
  &__info {
    max-width: 800px;
    width: 90%;
    span {
      color: $green;
      font-family: gilroySemiBold;
    }
  }

  &__service {
    width: 400px;
    height: 300px;
    background: black;
    position: relative;
    background-image: linear-gradient(
      110.12deg,
      #626262 4.17%,
      rgba(0, 0, 0, 0) 60.06%,
      #b5b5b5 97.94%
    );
    border-radius: 20px;
    overflow: hidden;
    box-sizing:  border-box;

    // border: 4px solid red;

    &::before {
      content: "";
      width: 40%;
      height: 300%;
      background: rgba(0, 0, 0, 0.788);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      content: "";
      width: calc(100% - 5px); /* Adjust the spacing as needed */
      height: calc(100% - 5px); /* Adjust the spacing as needed */
      background: #19171b;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      box-sizing: border-box;
    }

    &:hover::before {
      animation: bgRotate 3s 1;

      @keyframes bgRotate {
        0% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        50% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(360deg);
        }
        100% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}
