@import "../styles/base";

.section__tag {
  font-family: gilroyRegular;
  font-size: 1.2em;
  color: #ffffff;

  @media screen and (max-width: 600px) {
    font-size: 1.1em;
  }
  @media screen and (max-width: 310px) {
    font-size: 0.9em;
  }
}

.initial__header {
  animation: heading 0.8s ease-in-out 1;
  @keyframes heading {
    from {
      opacity: 0;
      transform: translateY(70%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
.header {
  color: white;
  text-align: center;
  position: relative;

  .bgImg {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
  }

  .scrollImg {
    margin: auto;
    margin-top: 10em;
    animation: moving 1s ease-in-out infinite;
    @keyframes moving {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
  &__tag {
    font-family: gilroyRegular;
    font-size: 1.2em;
    color: #ffffff;

    @media screen and (max-width: 600px) {
      font-size: 1.1em;
    }
    @media screen and (max-width: 310px) {
      font-size: 0.9em;
    }
  }
  &__heading {
    font-family: gilroyBold;
    font-size: 4em;
    margin: 20px auto;
    width: 90%;

    line-height: 1.1em;
    @media screen and (min-width: 999px) {
      font-size: 5em;
    }

    @media screen and (max-width: 570px) {
      font-size: 3.5em;
    }
    @media screen and (max-width: 530px) {
      font-size: 3.2em;
    }
    @media screen and (max-width: 380px) {
      font-size: 3em;
    }
    @media screen and (max-width: 280px) {
      font-size: 2em;
    }
    span {
      color: $green;
    }
  }
}

.button__container {
  margin: 40px auto;
  width: fit-content;
  padding: 15px 0px;
  position: relative;
  transition: 0.5s;
  border: 1px solid $green;

  &::before {
    position: absolute;
    width: 0%;
    height: 100%;
    content: "";
    top: 0%;
    left: 0px;
    background: $green;
    transition: 0.4s;
    z-index: -10;
  }

  &:hover::before {
    width: 100%;
  }

  .button {
    padding: 15px 60px;
    z-index: 10;
    position: relative;
    font-family: gilroyBold;
    font-weight: 400;
    color: $green;
    transition: 0.3s;
  }

  &:hover .button {
    color: white;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 2px 40px rgba($base-grey, 0.8);
  }
}

.services {
  margin: 20vh 0px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    gap: 30px;
  }
  text-align: start;
  &__heading {
    font-family: gilroyBold;
    font-size: 4.25em;
    max-width: 850px;
    width: 90%;
    line-height: 1.1em;

    @media screen and (max-width: 900px) {
      font-size: 3.5em;
      width: 90%;
    }
    @media screen and (max-width: 756px) {
      font-size: 3.5em;
      width: 65%;
    }
    @media screen and (max-width: 602px) {
      font-size: 3.5em;
      width: 75%;
    }
    @media screen and (max-width: 500px) {
      font-size: 3.5em;
      width: 100%;
    }
    @media screen and (max-width: 372px) {
      font-size: 2.5em;
      width: 100%;
    }
    @media screen and (max-width: 360px) {
      font-size: 2.9em;
      width: 100%;
    }
    span {
      color: $green;
      display: inline-block;
      margin: 0px 1px;
      &:nth-child(2) {
        transform: rotate(-10deg);
        @keyframes rotate1 {
          0% {
            transform: rotate(-10deg);
          }
          50% {
            transform: rotate(10deg);
          }
          100% {
            transform: rotate(-10deg);
          }
        }
      }
      &:nth-child(3) {
        transform: rotate(10deg);
      }
      &:nth-child(4) {
        transform: rotate(-10deg);
      }
      &:nth-child(5) {
        transform: rotate(-10deg);
      }
      &:nth-child(6) {
        transform: rotate(10deg);
      }
      &:nth-child(7) {
        transform: rotate(10deg);
      }
    }
  }
  &__info {
    max-width: 800px;
    width: 90%;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 30px;
    span {
      color: $green;
      font-family: gilroySemiBold;
    }
  }

  &__service {
    cursor: pointer;
    height: 450px;
    @media screen and (max-width: 800px) {
      height: 300px;
    }
    @media screen and (max-width: 380px) {
      height: 400px;
    }
    padding: 30px;
    background: black;
    position: relative;
    background-image: linear-gradient(
      110.12deg,
      #626262 4.17%,
      rgba(0, 0, 0, 0) 60.06%,
      #b5b5b5 97.94%
    );

    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.2s;
    z-index: 100;

    .info {
      z-index: 100;
      color: white;
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      .heading {
        font-family: gilroyBold;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.6em;
        margin: 10px 0px;
        @media screen and (max-width: 800px) {
          font-size: 2em;
        }
        @media screen and (max-width: 570px) {
          font-size: 1.5em;
        }
        margin: 10px 0px;
      }
      &__details {
        font-family: gilroyRegular;
        font-weight: 300;
        font-style: normal;
        font-size: 1.4em;
        letter-spacing: 2px;
        width: 70%;
        @media screen and (max-width: 800px) {
          width: 90%;
        }
        @media screen and (max-width: 570px) {
          font-size: 1.2em;
        }
      }
    }
    &::before {
      content: "";
      width: 30%;
      height: 300%;
      background: rgba(0, 0, 0, 0.788);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -10;
      transform: translate(-50%, -50%) rotate(35deg);
    }

    &::after {
      content: "";
      width: calc(100% - 5px); /* Adjust the spacing as needed */
      height: calc(100% - 5px); /* Adjust the spacing as needed */
      background-size: 35%, cover;
      background-repeat: no-repeat;
      background-position: bottom right, center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      box-sizing: border-box;
      z-index: -10;
    }

    @for $i from 1 through 4 {
      &:nth-child(#{$i})::after {
        background-image: url("/services_bg_#{$i}.png"),
          linear-gradient(90deg, #19171b, #19171b);
      }
    }

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 20px 20px rgba($color: grey, $alpha: 0.2);
    }
    &:hover::before {
      animation: bgRotate 3s 1;

      @keyframes bgRotate {
        0% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
        50% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(360deg);
        }
        75% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        100% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
      }
    }

    .image {
      position: absolute;
      z-index: -1;
      right: 5px;
      bottom: 5px;
    }
  }
}

.adventure {
  text-align: start;
  color: white;
  margin: 10vh auto;

  @media screen and (max-width: 768px) {
    margin: 1vh auto;
  }

  .adv {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;

    &__info {
      width: 40%;
      padding: 20px 0px;
      box-sizing: border-box;
    }
    &__image {
      width: 50%;
      padding: 20px;

      @media screen and (max-width: 780px) {
        padding: 0px;
      }
      box-sizing: border-box;
      img {
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 780px) {
      flex-direction: column;
      &__info,
      &__image {
        width: 100%;
      }
    }
    h2 {
      font-style: gilroyBold;
      font-weight: 700;
      font-size: 3em;
    }
    h4 {
      font-family: gilroySemiBold;
      font-size: 1.2em;
    }
    img {
      width: 100%;
      height: 100%;
    }
    p {
      font-family: gilroyRegular;
      letter-spacing: 1.5px;
      line-height: 1.4em;
      span {
        font-weight: 700;
        color: $green;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
    @media screen and (max-width: 780px) {
      flex-direction: column-reverse;
    }
  }
}

.portfolio {
  color: white;
  text-align: start;
  margin: 15vh auto;
  h2 {
    font-style: gilroyBold;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    width: 40%;

    @media screen and (max-width: 1024px) {
      width: 70%;
    }
    @media screen and (max-width: 800px) {
      width: 80%;
    }
    @media screen and (max-width: 512px) {
      width: 100%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      font-size: 2.5em;
    }
    span {
      text-decoration: line-through;
      color: $green;
    }
  }

  .brand {
    cursor: pointer;
    display: flex;
    transition: 0.5s;
    margin: 6vh 0px;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 20px rgba($color: $green, $alpha: 0.3);
    }
    padding: 15px;
    background: black;
    position: relative;
    background-image: linear-gradient(
      120.12deg,
      #acacac 0%,
      rgba(0, 0, 0, 0) 50.06%,
      #ffffff 97.94%
    );

    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.2s;
    z-index: 100;
    gap: 30px;

    @media screen and (max-width: 800px) {
      flex-direction: column;

      .image {
        // width: 100%;
        flex: 1;
        height: 300px;
      }

      .info {
        flex: 3;
      }
    }
    .image {
      overflow: hidden;
      flex: 1;
      border: 5px solid #2d2d2d;
      border-radius: 15px;
      overflow: hidden;
      img {
        width: 130%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info {
      flex: 2;
      z-index: 100;
      color: white;
      text-align: start;
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      @media screen and (max-width: 1024px) {
        flex: 1;
      }

      .tag {
        font-family: gilroyRegular;
        font-weight: 400;
      }

      .brand__name {
        font-family: gilroyBold;
        font-weight: 400;
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      .industry {
        font-family: gilroyRegular;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0px;
      }

      .button__container {
        margin: 3em 0px;
      }

      &__details {
        font-family: gilroyRegular;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4em;
        font-size: 1.1em;
        letter-spacing: 1px;
        span {
          color: $green;
          font-family: gilroySemiBold;
        }
      }
    }
    &::before {
      content: "";
      width: 10%;
      height: 2000px;
      background: rgba(0, 0, 0, 0.795);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -10;
      transform: translate(-50%, -50%) rotate(30deg);
    }

    &::after {
      content: "";
      background: #19171b;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background-size: 35%, cover;
      background-repeat: no-repeat;
      background-position: bottom right, center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      box-sizing: border-box;
      z-index: -10;
    }

    &:hover::before {
      animation: bgRotate 3s 1;
      @keyframes bgRotate {
        0% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
        50% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(360deg);
        }
        75% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        100% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
      }
    }
  }
}

.testimonial {
  margin: 5vh auto;
  .star {
    width: fit-content;
    img {
      width: 150px;
      height: auto;
    }

    margin: auto;
    text-align: center;
  }

  &__header {
    text-align: center;
    font-family: gilroyBold;
    font-size: 2.5em;
    font-weight: 600;
  }
}

.slider {
  position: relative;
  text-align: start;
  .bg__box {
    width: 100%;
    height: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

//This is part of the portfolio section
.strength {
  margin: 15vh auto;
  @media screen and (max-width: 768px) {
    margin: 0px auto;
  }
  padding: 3vh 0pc;
  font-family: gilroyBold;

  @media screen and (max-width: 550px) {
    margin: 0px;
    margin-bottom: 5vh;
  }
  &__descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    @media screen and (max-width: 550px) {
      gap: 0.7em;
    }
    @media screen and (max-width: 430px) {
      gap: 0.4em;
    }
    @media screen and (max-width: 390px) {
      gap: 5px;
    }
    color: #ffffff4d;
    p {
      margin: auto 0px;
      font-size: 4em;
      @media screen and (max-width: 1320px) {
        font-size: 3em;
      }
      @media screen and (max-width: 972px) {
        font-size: 2.5em;
      }
      @media screen and (max-width: 880px) {
        font-size: 2em;
      }
      @media screen and (max-width: 730px) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 550px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 430px) {
        font-size: 1em;
      }
      @media screen and (max-width: 340px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 302px) {
        font-size: 0.7em;
      }

      text-transform: uppercase;
      overflow: hidden;
      position: relative;
      &.bold {
        font-size: 7em;

        @media screen and (max-width: 1320px) {
          font-size: 6em;
        }
        @media screen and (max-width: 1046px) {
          font-size: 5em;
        }
        @media screen and (max-width: 880px) {
          font-size: 4em;
        }
        @media screen and (max-width: 730px) {
          font-size: 3.5em;
        }
        @media screen and (max-width: 600px) {
          font-size: 3em;
        }
        @media screen and (max-width: 550px) {
          font-size: 2.5em;
        }
        @media screen and (max-width: 378px) {
          font-size: 2em;
        }
        @media screen and (max-width: 340px) {
          font-size: 1.8em;
        }
        @media screen and (max-width: 280px) {
          font-size: 1.5em;
        }
        &.one {
          animation: glowUp 1.5s infinite;
          animation-delay: 0s;
        }
        &.two {
          animation: glowUp 1.5s infinite;
          animation-delay: 1.5s;
        }
        &.three {
          animation: glowUp 1.5s infinite;
          animation-delay: 3s;
        }
        &.four {
          animation: glowUp 1.5s infinite;
          animation-delay: 4.5s;
        }
        &.five {
          animation: glowUp 1.5s infinite;
          animation-delay: 6s;
        }

        &.one,
        &.two,
        &.three,
        &.four,
        &.five {
          transition: 0.5s;
          cursor: pointer;
          user-select: none;
          &:hover {
            color: #626262;
            transform: scale(1.1);
            animation: none;
          }
        }
        @keyframes glowUp {
          0%,
          100% {
            color: #ffffff4d;
          }
          50% {
            color: $green;
            text-shadow: 0px 10px 20px rgba(31, 194, 77, 0.349);
          }
        }
      }
      // display: inline;
    }
  }
}
