@import "../styles/base";

.section__tag {
  font-family: gilroyRegular;
  font-size: $text--normal;
  color: #ffffff;
  font-weight: 400;

  @media screen and (max-width: 600px) {
    font-size: $text--sm;
  }
  // @media screen and (max-width: 310px) {
  //   font-size: 0.9em;
  // }
}

.initial__header {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // animation: heading 0.8s ease-in-out 1;
  @keyframes heading {
    from {
      opacity: 0;
      transform: translateY(70%);
    }
    to {
      opacity: 1;
      transform: translateY(0%);
    }
  }
}
.header {
  color: white;
  text-align: center;
  position: relative;

  .bgImg {
    position: absolute;
    top: 50%;
    width: 500px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    mix-blend-mode: lighten;
    animation: anim 4s 1s infinite;

    @keyframes anim {
      0%,
      100% {
        transform: translate(-50%, -50%) scale(4);
      }
      50% {
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }

  .scrollImg {
    margin: auto;
    margin-top: 10em;
    animation: moving 1s ease-in-out infinite;
    @keyframes moving {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(0px);
      }
    }
  }
  &__tag {
    font-family: gilroyRegular;
    font-size: 1.2em;
    color: #ffffff;

    @media screen and (max-width: 600px) {
      font-size: 1.1em;
    }
    @media screen and (max-width: 310px) {
      font-size: 0.9em;
    }
  }
  &__heading {
    font-family: gilroyBold;
    font-size: $header--lg;
    margin: 20px auto;
    width: 90%;

    line-height: 1.1em;
    @media screen and (max-width: 570px) {
      font-size: $header--sm;
    }
    span {
      color: $green;
    }
  }
}

.button__container {
  margin: 40px auto;
  overflow: hidden;
  @media screen and (max-width: 400px) {
    margin: 15px auto;
  }
  width: fit-content;
  padding: 15px 0px;
  position: relative;
  transition: 0.5s;
  border: 1px solid $green;

  &::before {
    position: absolute;
    width: 150%;
    height: 0%;
    content: "";
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("/button__bg.png"),
      linear-gradient(0deg, transparent, $green, $green);
    background-position: bottom center, -40% center;
    background-repeat: no-repeat;
    background-size: 200%;
    background-size: contain;

    transition: 0.4s;
    z-index: -10;
  }

  &:hover::before {
    height: 200%;
  }

  .button {
    padding: 15px 60px;
    z-index: 10;
    position: relative;
    font-family: gilroyBold;
    font-weight: 400;
    color: $green;
    transition: 0.3s;
  }

  &:hover .button {
    color: white;
  }
}

.services {
  margin: 20vh 0px;
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    gap: 30px;
  }
  text-align: start;
  &__heading {
    font-family: gilroyBold;
    font-size: 4.25em;
    max-width: 850px;
    width: 90%;
    line-height: 1.1em;

    @media screen and (max-width: 900px) {
      font-size: 3.5em;
      width: 90%;
    }
    @media screen and (max-width: 756px) {
      font-size: 3.5em;
      width: 65%;
    }
    @media screen and (max-width: 602px) {
      font-size: 3.5em;
      width: 75%;
    }
    @media screen and (max-width: 500px) {
      font-size: 3.5em;
      width: 100%;
    }
    @media screen and (max-width: 372px) {
      font-size: 2.5em;
      width: 100%;
    }
    @media screen and (max-width: 360px) {
      font-size: 2.9em;
      width: 100%;
    }
    span {
      color: $green;
      display: inline-block;
      margin: 0px 1px;
      &:nth-child(2) {
        transform: rotate(-10deg);
        @keyframes rotate1 {
          0% {
            transform: rotate(-10deg);
          }
          50% {
            transform: rotate(10deg);
          }
          100% {
            transform: rotate(-10deg);
          }
        }
      }
      &:nth-child(3) {
        transform: rotate(10deg);
      }
      &:nth-child(4) {
        transform: rotate(-10deg);
      }
      &:nth-child(5) {
        transform: rotate(-10deg);
      }
      &:nth-child(6) {
        transform: rotate(10deg);
      }
      &:nth-child(7) {
        transform: rotate(10deg);
      }
    }
  }
  &__info {
    max-width: 800px;
    width: 90%;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2em;
    line-height: 1.3em;
    margin-bottom: 30px;
    span {
      color: $green;
      font-family: gilroySemiBold;
    }
  }

  &__service {
    z-index: 10000;
    cursor: pointer;
    height: 380px;
    @media screen and (max-width: 800px) {
      height: 300px;
    }
    @media screen and (max-width: 380px) {
      height: 300px;
    }
    padding: 30px;
    background: black;
    position: relative;
    background-image: linear-gradient(
      110.12deg,
      #626262 4.17%,
      rgba(0, 0, 0, 0) 60.06%,
      #b5b5b5 97.94%
    );
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
    }

    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.2s;
    z-index: 100;

    .green {
      width: 99%;
      border-radius: 20px;
      height: 99%;
      position: absolute;
      background: $green;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      opacity: 0;
    }
    .info {
      z-index: 100;
      color: white;
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      .heading {
        font-family: gilroyBold;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.6em;
        margin: 10px 0px;
        @media screen and (max-width: 800px) {
          font-size: 2em;
        }
        @media screen and (max-width: 570px) {
          font-size: 1.5em;
        }
        margin: 10px 0px;
      }
      &__details {
        font-family: gilroyRegular;
        font-weight: 100;
        font-style: normal;
        font-size: 1.2em;
        letter-spacing: 2px;
        width: 65%;
        line-height: 1.4em;
        @media screen and (max-width: 800px) {
          width: 90%;
          font-size: 1.1em;
        }
        @media screen and (max-width: 570px) {
          width: 100%;
          font-size: 1.04em;
        }
      }
    }
    &::before {
      content: "";
      width: 30%;
      height: 300%;
      background: rgba(0, 0, 0, 0.788);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -10;
      transform: translate(-50%, -50%) rotate(35deg);
      transition: 1s;
    }
    &::after {
      content: "";
      width: calc(100% - 5px); /* Adjust the spacing as needed */
      height: calc(100% - 5px); /* Adjust the spacing as needed */
      background-size: 35%, cover;
      background-repeat: no-repeat;
      background-position: bottom right, center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 20px;
      box-sizing: border-box;
      z-index: -10;
      transition: 0.5s;

      animation: out 0.7s 1;

      @keyframes out {
        from {
          background-size: 100%, cover;
        }
        to {
          background-size: 35%, cover;
        }
      }
    }
    @for $i from 1 through 4 {
      &:nth-child(#{$i})::after {
        background-image: url("/services_bg_#{$i}.png"),
          linear-gradient(90deg, #19171b, #19171b);
      }
    }

    &:hover {
      .green {
        opacity: 1;
        transition: 0.8s;
      }
    }
    &:hover::after {
      animation: bgChange 1.8s 1;
      transition: 0.5s;

      @keyframes bgChange {
        0% {
          background-size: 35%, cover;
        }
        100% {
          background-size: 100%, cover;
        }
      }
    }
    &:hover::before {
      animation: bgRotate 3s 1;

      @keyframes bgRotate {
        0% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
        50% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(360deg);
        }
        75% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        100% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(35deg);
        }
      }
    }

    .image {
      position: absolute;
      z-index: -1;
      right: 5px;
      bottom: 5px;
    }
  }
}

.adventure {
  text-align: start;
  color: white;
  margin: 10vh auto;

  @media screen and (max-width: 768px) {
    margin: 1vh auto;
  }

  .adv {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;

    &__info {
      width: 40%;
      padding: 20px 0px;
      box-sizing: border-box;
      @media screen and (max-width: 1200px) {
        width: 50%;
      }
    }
    &__image {
      width: 45%;
      h2 {
        display: none;

        @media screen and (max-width: 780px) {
          display: block;
        }
      }

      @media screen and (max-width: 1100px) {
        width: 50%;
      }

      @media screen and (max-width: 780px) {
        padding: 0px;
      }
      box-sizing: border-box;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: inherit;
        object-fit: cover;
        @media screen and (min-width: 1104px) {
          object-fit: contain;
        }
      }
    }

    @media screen and (max-width: 780px) {
      flex-direction: column-reverse;
      &__info,
      &__image {
        width: 100%;
      }
    }
    h2 {
      font-family: gilroyBold;
      font-weight: 700;
      font-size: 4.5em;

      @media screen and (max-width: 968px) {
        font-size: 4em;
      }
      @media screen and (max-width: 854px) {
        font-size: 3.5em;
      }
      @media screen and (max-width: 400px) {
        font-size: 2.5em;
      }
      @media screen and (max-width: 780px) {
        display: none;

        &.hide {
          display: block;
        }
      }
      margin-top: 0px;
    }
    h4 {
      font-family: gilroySemiBold;
      font-size: 1.2em;

      @media screen and (max-width: 500px) {
        font-size: 1.1em;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
    p {
      font-family: gilroyRegular;
      letter-spacing: 1.5px;
      line-height: 1.6em;
      font-size: 1.1em;

      @media screen and (min-width: 968px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 860px) {
        font-size: 1.1em;
      }
      @media screen and (max-width: 500px) {
        font-size: 1em;
      }

      span {
        font-weight: 700;
        color: $green;
      }
    }
  }

  .reverse {
    flex-direction: row-reverse;
    @media screen and (max-width: 780px) {
      flex-direction: column-reverse;
    }
  }
}

.portfolio {
  color: white;
  text-align: start;
  margin: 15vh auto;
  h2 {
    font-family: gilroyBold;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    width: 40%;

    @media screen and (max-width: 1024px) {
      width: 70%;
    }
    @media screen and (max-width: 800px) {
      width: 80%;
    }
    @media screen and (max-width: 512px) {
      width: 100%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      font-size: 2em;
    }
    @media screen and (max-width: 300px) {
      width: 100%;
      font-size: 1.8em;
    }

    span {
      text-decoration: line-through;
      color: $green;
    }
  }

  .brand {
    cursor: pointer;
    display: flex;
    transition: 0.5s;
    margin: 6vh 0px;
    &:hover {
      background-image: linear-gradient(
        120.12deg,
        $green 0%,
        rgba(0, 0, 0, 0) 50.06%,
        $green 97.94%
      );

      .image {
        img {
          transition: 0.5s;
          transform: scale(1.3);
        }
      }
    }
    padding: 15px;
    background: black;
    position: relative;
    background-image: linear-gradient(
      120.12deg,
      #acacac 0%,
      rgba(0, 0, 0, 0) 50.06%,
      #ffffff 97.94%
    );

    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.5s;
    transition-delay: 0.2s;
    z-index: 100;
    gap: 30px;

    .image {
      overflow: hidden;
      transition: 0.5s;
      flex: 1;
      border: 5px solid #2d2d2d;
      border-radius: 15px;
      overflow: hidden;
      img {
        width: 130%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s;
      }
    }
    @media screen and (max-width: 800px) {
      flex-direction: column;

      .image {
        flex: none;
        height: 200px;
      }

      .info {
        flex: 3;
      }
    }
    .info {
      flex: 2;
      z-index: 100;
      color: white;
      text-align: start;
      @media screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }

      @media screen and (max-width: 1024px) {
        flex: 1;
      }

      .tag {
        font-family: gilroyRegular;
        font-weight: 400;
      }

      .brand__name {
        font-family: gilroyBold;
        font-weight: 400;
        font-size: 2em;
        text-transform: uppercase;
        margin-bottom: 5px;

        @media screen and (max-width: 400px) {
          margin: 0px;
          margin-bottom: 5px;
        }
      }

      .industry {
        font-family: gilroyRegular;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0px;
      }

      .button__container {
        margin: 3em 0px;

        @media screen and (max-width: 400px) {
          margin: 10px 0px 10px;
        }
      }

      &__details {
        font-family: gilroyRegular;
        font-weight: 400;
        font-style: normal;
        line-height: 1.4em;
        font-size: 1.1em;
        letter-spacing: 1px;
        @media screen and (max-width: 400px) {
          font-size: 0.95em;
        }
        span {
          color: $green;
          font-family: gilroySemiBold;
        }
      }
    }
    &::before {
      content: "";
      width: 10%;
      height: 2000px;
      background: rgba(0, 0, 0, 0.795);
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: -10;
      transform: translate(-50%, -50%) rotate(30deg);
    }

    &::after {
      content: "";
      background: #19171b;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      background-size: 35%, cover;
      background-repeat: no-repeat;
      background-position: bottom right, center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 15px;
      box-sizing: border-box;
      z-index: -10;
    }

    &:hover::before {
      animation: bgRotate 3s 1;
      @keyframes bgRotate {
        0% {
          width: 30%;
          transform: translate(-50%, -50%) rotate(30deg);
        }
        50% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(360deg);
        }
        75% {
          width: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        100% {
          width: 10%;
          transform: translate(-50%, -50%) rotate(30deg);
        }
      }
    }
  }
}

.testimonial {
  margin: 5vh auto;
  .star {
    width: fit-content;
    img {
      width: 150px;
      height: auto;
    }

    margin: auto;
    text-align: center;
  }

  &__header {
    text-align: center;
    font-family: gilroyBold;
    font-size: 2.5em;
    font-weight: 600;
  }
}

.slider {
  position: relative;
  text-align: start;
  .bg__box {
    width: 100%;
    height: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .embla__viewport,
  .bg__box.brand {
    transition: 0.5s;
  }

  .embla__viewport.brand:hover::before {
    animation: bgRotate 3s 1;
    @keyframes bgRotate {
      0% {
        width: 30%;
        transform: translate(-50%, -50%) rotate(30deg);
      }
      50% {
        width: 10%;
        transform: translate(-50%, -50%) rotate(360deg);
      }
      75% {
        width: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      100% {
        width: 10%;
        transform: translate(-50%, -50%) rotate(30deg);
      }
    }
  }

  &:hover {
    .embla__viewport,
    .bg__box.brand {
      transition: 0.5s;

      background-image: linear-gradient(
        120.12deg,
        $green 0%,
        rgba(0, 0, 0, 0) 50.06%,
        $green 97.94%
      );
    }
  }
}

//This is part of the portfolio section
.strength {
  margin: 15vh auto;
  @media screen and (max-width: 768px) {
    margin: 0px auto;
  }
  padding: 3vh 0pc;
  font-family: gilroyBold;

  @media screen and (max-width: 550px) {
    margin: 0px;
    margin-bottom: 5vh;
  }
  &__descriptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    @media screen and (max-width: 550px) {
      gap: 0.7em;
    }
    @media screen and (max-width: 430px) {
      gap: 0.4em;
    }
    @media screen and (max-width: 390px) {
      gap: 5px;
    }
    color: #ffffff4d;
    p {
      margin: auto 0px;
      font-size: 4em;
      @media screen and (max-width: 1320px) {
        font-size: 3em;
      }
      @media screen and (max-width: 972px) {
        font-size: 2.5em;
      }
      @media screen and (max-width: 880px) {
        font-size: 2em;
      }
      @media screen and (max-width: 730px) {
        font-size: 1.5em;
      }
      @media screen and (max-width: 550px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 430px) {
        font-size: 1em;
      }
      @media screen and (max-width: 340px) {
        font-size: 0.8em;
      }
      @media screen and (max-width: 302px) {
        font-size: 0.7em;
      }

      text-transform: uppercase;
      overflow: hidden;
      position: relative;
      transition: 0.5s;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: $green;

        transform: scale(1.1);
        animation: none;
      }
      &.bold {
        font-size: 7em;

        @media screen and (max-width: 1320px) {
          font-size: 6em;
        }
        @media screen and (max-width: 1046px) {
          font-size: 5em;
        }
        @media screen and (max-width: 880px) {
          font-size: 4em;
        }
        @media screen and (max-width: 730px) {
          font-size: 3.5em;
        }
        @media screen and (max-width: 600px) {
          font-size: 3em;
        }
        @media screen and (max-width: 550px) {
          font-size: 2.5em;
        }
        @media screen and (max-width: 378px) {
          font-size: 2em;
        }
        @media screen and (max-width: 340px) {
          font-size: 1.8em;
        }
        @media screen and (max-width: 280px) {
          font-size: 1.5em;
        }
        &.word__anim {
          animation: glowUp 2s 1;
          animation-delay: 0s;
        }

        @keyframes glowUp {
          0%,
          100% {
            color: #ffffff4d;
          }
          50% {
            color: $green;
            text-shadow: 0px 10px 20px rgba(31, 194, 77, 0.349);
          }
        }
      }
    }
  }
}
