$base-grey: #ffffff0d;
$green: #1fc24d;

$btn--text: 1.25rem;
$header--lg: 4.5rem;
$header--sm: 3rem;
$section--header_sm: 2rem;
$text--normal: 1.5rem;
$text--sm: 0.9rem;
$text--xs: 0.875rem;
$service__heading-normal: 2.25rem;
$service__heading-sm: 1.125rem;

@font-face {
  font-family: gilroyLight;
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: gilroyRegular;
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: gilroyMedium;
  src: url("/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: gilroyBold;
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: gilroySemiBold;
  src: url("/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
