@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: gilroyLight;
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: gilroyRegular;
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: gilroyMedium;
  src: url("/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: gilroyBold;
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: gilroySemiBold;
  src: url("/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: gilroyLight;
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: gilroyRegular;
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: gilroyMedium;
  src: url("/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: gilroyBold;
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: gilroySemiBold;
  src: url("/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
.nav_body {
  background-color: rgba(255, 255, 255, 0.0509803922);
  padding: 25px 0px;
  box-sizing: border-box;
  font-family: gilroyBold;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 200px !important;
  height: auto !important;
}
@media screen and (max-width: 768px) {
  .nav .nav__resp {
    display: none;
  }
}
.nav__nav_link {
  text-transform: uppercase;
  margin-left: 20px;
  font-weight: 300;
  letter-spacing: 0.07em;
  color: rgba(255, 255, 255, 0.466);
  transition: 0.5s;
  text-align: center;
}
.nav__nav_link:hover {
  color: rgba(255, 255, 255, 0.89);
}
.nav__nav_link.active {
  color: white;
}
.nav .action__button {
  display: none;
}
@media screen and (max-width: 768px) {
  .nav .action__button {
    display: block;
  }
}

.sidenav {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #0d0d0d;
  box-sizing: border-box;
  padding: 30px;
  z-index: 200;
}
.sidenav__links {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidenav__links .top_section {
  position: fixed;
  top: 20px;
  display: flex;
  width: calc(100% - 60px);
  justify-content: space-between;
  align-items: center;
}
.sidenav__links .nav__nav_link {
  text-align: start;
  font-size: 3.4em;
  margin: 0px;
}
@media screen and (max-width: 400px) {
  .sidenav__links .nav__nav_link {
    font-size: 2.5em;
  }
}

footer {
  background: rgba(255, 255, 255, 0.0509803922);
  padding: 3vw 10vw;
  text-align: center;
}
footer .footer__img {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}
footer .footer__img img {
  width: 30%;
  height: auto;
}
@media screen and (max-width: 768px) {
  footer .footer__img img {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  footer .footer__img img {
    width: 90%;
  }
}
footer ul {
  margin-bottom: 3vw;
  padding: 0px;
}
@media screen and (max-width: 768px) {
  footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  footer ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }
}
footer ul li {
  list-style-type: none;
  display: inline;
  margin: 0px 20px 0px 0px;
  font-weight: 500;
  font-family: gilroyBold;
}
@media screen and (max-width: 768px) {
  footer ul li {
    display: block;
    margin: 0px auto;
    text-align: center;
  }
}
footer ul li a {
  color: rgba(255, 255, 255, 0.466);
  font-size: 1.5em;
  text-transform: uppercase;
  transition: 0.5s;
}
footer ul li a:hover {
  color: rgba(255, 255, 255, 0.89);
}

@font-face {
  font-family: gilroyLight;
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: gilroyRegular;
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: gilroyMedium;
  src: url("/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: gilroyBold;
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: gilroySemiBold;
  src: url("/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
.section__tag {
  font-family: gilroyRegular;
  font-size: 1.2em;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .section__tag {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 310px) {
  .section__tag {
    font-size: 0.9em;
  }
}

.initial__header {
  animation: heading 0.8s ease-in-out 1;
}
@keyframes heading {
  from {
    opacity: 0;
    transform: translateY(70%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header {
  color: white;
  text-align: center;
  position: relative;
}
.header .bgImg {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
.header .scrollImg {
  margin: auto;
  margin-top: 11em;
  animation: moving 1s ease-in-out infinite;
}
@keyframes moving {
  0% {
    margin-top: 11em;
  }
  50% {
    margin-top: 13em;
  }
  100% {
    margin-top: 11em;
  }
}
.header__tag {
  font-family: gilroyRegular;
  font-size: 1.2em;
  color: #ffffff;
}
@media screen and (max-width: 600px) {
  .header__tag {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 310px) {
  .header__tag {
    font-size: 0.9em;
  }
}
.header__heading {
  font-family: gilroyBold;
  font-size: 4em;
  margin: 20px auto;
  width: 90%;
  line-height: 1.1em;
}
@media screen and (min-width: 999px) {
  .header__heading {
    font-size: 5em;
  }
}
@media screen and (max-width: 570px) {
  .header__heading {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 380px) {
  .header__heading {
    font-size: 3em;
  }
}
@media screen and (max-width: 280px) {
  .header__heading {
    font-size: 2em;
  }
}
.header__heading span {
  color: #1fc24d;
}

.button__container {
  margin: 40px auto;
  width: fit-content;
  padding: 15px 0px;
  position: relative;
  transition: 0.5s;
  border: 1px solid #1fc24d;
}
.button__container::before {
  position: absolute;
  width: 0%;
  height: 100%;
  content: "";
  top: 0%;
  left: 0px;
  background: #1fc24d;
  transition: 0.4s;
  z-index: -10;
}
.button__container:hover::before {
  width: 100%;
}
.button__container .button {
  padding: 15px 60px;
  z-index: 10;
  position: relative;
  font-family: gilroyBold;
  font-weight: 400;
  color: #1fc24d;
  transition: 0.3s;
}
.button__container:hover .button {
  color: white;
}
.button__container:hover {
  transform: translateY(-4px);
  box-shadow: 0px 2px 40px rgba(255, 255, 255, 0.8);
}

.services {
  margin: 20vh 0px;
  text-align: start;
}
.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (max-width: 800px) {
  .services__container {
    grid-template-columns: 1fr;
  }
}
.services__heading {
  font-family: gilroyBold;
  font-size: 4.25em;
  max-width: 850px;
  width: 90%;
  line-height: 1.1em;
}
@media screen and (max-width: 900px) {
  .services__heading {
    font-size: 3.5em;
    width: 90%;
  }
}
@media screen and (max-width: 756px) {
  .services__heading {
    font-size: 3.5em;
    width: 65%;
  }
}
@media screen and (max-width: 602px) {
  .services__heading {
    font-size: 3.5em;
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .services__heading {
    font-size: 3.5em;
    width: 100%;
  }
}
@media screen and (max-width: 372px) {
  .services__heading {
    font-size: 2.5em;
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .services__heading {
    font-size: 2.9em;
    width: 100%;
  }
}
.services__heading span {
  color: #1fc24d;
  display: inline-block;
  margin: 0px 1px;
}
.services__heading span:nth-child(2) {
  transform: rotate(-10deg);
}
@keyframes rotate1 {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.services__heading span:nth-child(3) {
  transform: rotate(10deg);
}
.services__heading span:nth-child(4) {
  transform: rotate(-10deg);
}
.services__heading span:nth-child(5) {
  transform: rotate(-10deg);
}
.services__heading span:nth-child(6) {
  transform: rotate(10deg);
}
.services__heading span:nth-child(7) {
  transform: rotate(10deg);
}
.services__info {
  max-width: 800px;
  width: 90%;
  font-weight: 300;
  font-style: normal;
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 30px;
}
.services__info span {
  color: #1fc24d;
  font-family: gilroySemiBold;
}
.services__service {
  cursor: pointer;
  height: 450px;
  padding: 30px;
  background: black;
  position: relative;
  background-image: linear-gradient(110.12deg, #626262 4.17%, rgba(0, 0, 0, 0) 60.06%, #b5b5b5 97.94%);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.2s;
  z-index: 100;
}
@media screen and (max-width: 800px) {
  .services__service {
    height: 300px;
  }
}
@media screen and (max-width: 380px) {
  .services__service {
    height: 400px;
  }
}
.services__service .info {
  z-index: 100;
  color: white;
}
@media screen and (max-width: 800px) {
  .services__service .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
.services__service .info .heading {
  font-family: gilroyBold;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.6em;
  margin: 10px 0px;
  margin: 10px 0px;
}
@media screen and (max-width: 800px) {
  .services__service .info .heading {
    font-size: 2em;
  }
}
@media screen and (max-width: 570px) {
  .services__service .info .heading {
    font-size: 1.5em;
  }
}
.services__service .info__details {
  font-family: gilroyRegular;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4em;
  letter-spacing: 2px;
  width: 70%;
}
@media screen and (max-width: 800px) {
  .services__service .info__details {
    width: 90%;
  }
}
@media screen and (max-width: 570px) {
  .services__service .info__details {
    font-size: 1.2em;
  }
}
.services__service::before {
  content: "";
  width: 30%;
  height: 300%;
  background: rgba(0, 0, 0, 0.788);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  transform: translate(-50%, -50%) rotate(35deg);
}
.services__service::after {
  content: "";
  width: calc(100% - 5px); /* Adjust the spacing as needed */
  height: calc(100% - 5px); /* Adjust the spacing as needed */
  background-size: 35%, cover;
  background-repeat: no-repeat;
  background-position: bottom right, center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-sizing: border-box;
  z-index: -10;
}
.services__service:nth-child(1)::after {
  background-image: url("/services_bg_1.png"), linear-gradient(90deg, #19171b, #19171b);
}
.services__service:nth-child(2)::after {
  background-image: url("/services_bg_2.png"), linear-gradient(90deg, #19171b, #19171b);
}
.services__service:nth-child(3)::after {
  background-image: url("/services_bg_3.png"), linear-gradient(90deg, #19171b, #19171b);
}
.services__service:nth-child(4)::after {
  background-image: url("/services_bg_4.png"), linear-gradient(90deg, #19171b, #19171b);
}
.services__service:hover {
  transform: translateY(-3px);
  box-shadow: 0px 20px 20px rgba(128, 128, 128, 0.2);
}
.services__service:hover::before {
  animation: bgRotate 3s 1;
}
@keyframes bgRotate {
  0% {
    width: 30%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
  50% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  75% {
    width: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    width: 30%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
}
.services__service .image {
  position: absolute;
  z-index: -1;
  right: 5px;
  bottom: 5px;
}

.adventure {
  text-align: start;
  color: white;
  margin: 10vh auto;
}
.adventure .adv {
  display: flex;
  justify-content: space-between;
  margin: 40px 0px;
}
.adventure .adv__info {
  width: 40%;
  padding: 20px 0px;
  box-sizing: border-box;
}
.adventure .adv__image {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
@media screen and (max-width: 780px) {
  .adventure .adv__image {
    padding: 0px;
  }
}
.adventure .adv__image img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 780px) {
  .adventure .adv {
    flex-direction: column;
  }
  .adventure .adv__info, .adventure .adv__image {
    width: 100%;
  }
}
.adventure .adv h2 {
  font-style: gilroyBold;
  font-weight: 700;
  font-size: 3em;
}
.adventure .adv h4 {
  font-family: gilroySemiBold;
  font-size: 1.2em;
}
.adventure .adv img {
  width: 100%;
  height: 100%;
}
.adventure .adv p {
  font-family: gilroyRegular;
  letter-spacing: 1.5px;
  line-height: 1.4em;
}
.adventure .adv p span {
  font-weight: 700;
  color: #1fc24d;
}
.adventure .reverse {
  flex-direction: row-reverse;
}
@media screen and (max-width: 780px) {
  .adventure .reverse {
    flex-direction: column-reverse;
  }
}

.portfolio {
  color: white;
  text-align: start;
  margin: 15vh auto;
}
.portfolio h2 {
  font-style: gilroyBold;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 1px;
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .portfolio h2 {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .portfolio h2 {
    width: 80%;
  }
}
@media screen and (max-width: 512px) {
  .portfolio h2 {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .portfolio h2 {
    width: 100%;
    font-size: 2.5em;
  }
}
.portfolio h2 span {
  text-decoration: line-through;
  color: #1fc24d;
}
.portfolio .brand {
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  margin: 6vh 0px;
  padding: 15px;
  background: black;
  position: relative;
  background-image: linear-gradient(120.12deg, #acacac 0%, rgba(0, 0, 0, 0) 50.06%, #ffffff 97.94%);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.2s;
  z-index: 100;
  gap: 30px;
}
.portfolio .brand:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(31, 194, 77, 0.3);
}
@media screen and (max-width: 800px) {
  .portfolio .brand {
    flex-direction: column;
  }
  .portfolio .brand .image {
    flex: 1;
    height: 300px;
  }
  .portfolio .brand .info {
    flex: 3;
  }
}
.portfolio .brand .image {
  overflow: hidden;
  flex: 1;
  border: 5px solid #2d2d2d;
  border-radius: 15px;
  overflow: hidden;
}
.portfolio .brand .image img {
  width: 130%;
  height: 100%;
  object-fit: cover;
}
.portfolio .brand .info {
  flex: 2;
  z-index: 100;
  color: white;
  text-align: start;
}
@media screen and (max-width: 800px) {
  .portfolio .brand .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .portfolio .brand .info {
    flex: 1;
  }
}
.portfolio .brand .info .tag {
  font-family: gilroyRegular;
  font-weight: 400;
}
.portfolio .brand .info .brand__name {
  font-family: gilroyBold;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.portfolio .brand .info .industry {
  font-family: gilroyRegular;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0px;
}
.portfolio .brand .info .button__container {
  margin: 3em 0px;
}
.portfolio .brand .info__details {
  font-family: gilroyRegular;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.portfolio .brand .info__details span {
  color: #1fc24d;
  font-family: gilroySemiBold;
}
.portfolio .brand::before {
  content: "";
  width: 10%;
  height: 2000px;
  background: rgba(0, 0, 0, 0.795);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  transform: translate(-50%, -50%) rotate(30deg);
}
.portfolio .brand::after {
  content: "";
  background: #19171b;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-size: 35%, cover;
  background-repeat: no-repeat;
  background-position: bottom right, center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-sizing: border-box;
  z-index: -10;
}
.portfolio .brand:hover::before {
  animation: bgRotate 3s 1;
}
@keyframes bgRotate {
  0% {
    width: 30%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
  50% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  75% {
    width: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
}

.testimonial {
  margin: 5vh auto;
}
.testimonial .star {
  width: fit-content;
  margin: auto;
  text-align: center;
}
.testimonial .star img {
  width: 150px;
  height: auto;
}
.testimonial__header {
  text-align: center;
  font-family: gilroyBold;
  font-size: 2.5em;
  font-weight: 600;
}

.slider {
  position: relative;
  text-align: start;
}
.slider .bg__box {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.strength {
  background: red;
  margin: 10vh auto;
  padding: 3vh 0pc;
  font-family: gilroyBold;
}
.strength__descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  color: rgba(255, 255, 255, 0.3019607843);
}
.strength__descriptions p {
  margin: auto 0px;
  font-size: 4em;
  text-transform: uppercase;
}
.strength__descriptions p.bold {
  font-size: 7em;
}

@font-face {
  font-family: gilroyLight;
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: gilroyRegular;
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: gilroyMedium;
  src: url("/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: gilroyBold;
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: gilroySemiBold;
  src: url("/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
.embla {
  max-width: 900px;
  width: 90%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  position: relative;
}
@media screen and (max-width: 400px) {
  .embla {
    width: 95%;
  }
}

.embla__viewport {
  overflow: hidden;
  margin-bottom: 40px;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}

.slide__container {
  padding: 3vw 0px;
  box-sizing: border-box;
  width: 70%;
  margin: auto;
}
@media screen and (max-width: 700px) {
  .slide__container {
    width: 60%;
    padding: 5vw 0px;
  }
}
@media screen and (max-width: 380px) {
  .slide__container {
    width: 80%;
  }
}
.slide__container .slide__heading {
  display: flex;
  align-items: center;
  gap: 1em;
}
@media screen and (max-width: 420px) {
  .slide__container .slide__heading {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  .slide__container .slide__heading {
    text-align: center;
  }
}
.slide__container .slide__heading .slide__img {
  height: 70px;
  width: 70px;
}
.slide__container .slide__heading .slide__img img {
  width: 100%;
  height: 100%;
}
.slide__container .slide__heading .heading__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
  gap: 0.3em;
}
.slide__container .slide__heading .heading__info h3 {
  margin: 0px;
}
.slide__container .slide__heading .heading__info p {
  margin: 0px;
}
.slide__container .slide__info h4 {
  text-transform: capitalize;
  font-family: gilroyBold;
  font-size: 1.5em;
}
@media screen and (max-width: 430px) {
  .slide__container .slide__info h4 {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 380px) {
  .slide__container .slide__info h4 {
    font-size: 1.1em;
    text-align: center;
  }
}
.slide__container .slide__info p {
  font-family: gilroyRegular;
  letter-spacing: 0.5px;
  font-size: 1.1em;
}
@media screen and (max-width: 380px) {
  .slide__container .slide__info p {
    font-size: 1em;
    text-align: center;
  }
}

.embla__controls {
  width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 100;
}

.embla__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 50% !important;
  border-image-slice: 1;
  border-image-repeat: repeat;
  border: none;
}
@media screen and (max-width: 500px) {
  .embla__button {
    width: 40px;
    height: 40px;
  }
}
.embla__button::after {
  border-radius: 20px !important;
  background-position: center, center;
}
.embla__button:hover {
  transform: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 420px) {
  .embla__button.brand {
    padding: 10px !important;
  }
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}
@media screen and (max-width: 420px) {
  .embla__button__svg {
    width: 80%;
    height: 80%;
  }
  .embla__button__svg .brand {
    padding: 0px;
  }
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
  margin-bottom: 30px;
  gap: 5px;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background: rgba(145, 145, 145, 0.692);
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  background: #1fc24d;
}

.brand {
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.3s;
  background: black;
  position: relative;
  background-image: linear-gradient(120.12deg, #acacac 0%, rgba(0, 0, 0, 0) 50.06%, #ffffff 97.94%);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.2s;
  z-index: 100;
}
@media screen and (max-width: 420px) {
  .brand {
    padding: 20px;
  }
}
.brand::before {
  content: "";
  width: 10%;
  height: 2000px;
  background: rgba(0, 0, 0, 0.795);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  transform: translate(-50%, -50%) rotate(30deg);
}
.brand::after {
  content: "";
  background: #19171b;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-size: 35%, cover;
  background-repeat: no-repeat;
  background-position: bottom right, center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-sizing: border-box;
  z-index: -10;
}
@keyframes bgRotate {
  0% {
    width: 30%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
  50% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  75% {
    width: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
}

@font-face {
  font-family: gilroyLight;
  src: url("/gilroy/Gilroy-Light.ttf") format("truetype");
}
@font-face {
  font-family: gilroyRegular;
  src: url("/gilroy/Gilroy-Regular.ttf") format("truetype");
}
@font-face {
  font-family: gilroyMedium;
  src: url("/gilroy/Gilroy-Medium.ttf") format("truetype");
}
@font-face {
  font-family: gilroyBold;
  src: url("/gilroy/Gilroy-Bold.ttf") format("truetype");
}
@font-face {
  font-family: gilroySemiBold;
  src: url("/gilroy/Gilroy-SemiBold.ttf") format("truetype");
}
.contact {
  margin: 10vh auto;
  width: 540px;
  position: relative;
}
@media screen and (max-width: 670px) {
  .contact {
    width: 100%;
    height: 120%;
  }
}
.contact .brand {
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
  margin: 6vh auto;
  padding: 50px;
  background: black;
  position: relative;
  background-image: linear-gradient(120.12deg, #acacac 0%, rgba(0, 0, 0, 0) 50.06%, #ffffff 97.94%);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s;
  transition-delay: 0.2s;
  z-index: 100;
  gap: 30px;
}
.contact .brand:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(110, 110, 110, 0.7);
}
@media screen and (max-width: 420px) {
  .contact .brand {
    padding: 20px;
  }
}
.contact .brand::before {
  content: "";
  width: 10%;
  height: 2000px;
  background: rgba(0, 0, 0, 0.795);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -10;
  transform: translate(-50%, -50%) rotate(30deg);
}
.contact .brand::after {
  content: "";
  background: #19171b;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-size: 35%, cover;
  background-repeat: no-repeat;
  background-position: bottom right, center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-sizing: border-box;
  z-index: -10;
}
@keyframes bgRotate {
  0% {
    width: 30%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
  50% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(360deg);
  }
  75% {
    width: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  100% {
    width: 10%;
    transform: translate(-50%, -50%) rotate(35deg);
  }
}
.contact .brand h2,
.contact .brand p {
  text-align: center;
}
.contact .brand h2 {
  font-family: gilroyBold;
  font-size: 3.5em;
  margin: 0px;
  text-transform: capitalize;
}
@media screen and (max-width: 400px) {
  .contact .brand h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 350px) {
  .contact .brand h2 {
    font-size: 2.5em;
  }
}
.contact .brand h2:nth-child(2) {
  color: #1fc24d;
}
.contact .brand p {
  font-family: gilroyRegular;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.6em;
  margin: 30px auto;
}
.contact .brand .inputBox {
  font-family: gilroyRegular;
  font-weight: 400;
  color: white;
  position: relative;
  margin: 30px auto;
}
.contact .brand .inputBox label {
  position: absolute;
  left: 0%;
  margin: 3px 10px;
  transition: 0.3s;
}
.contact .brand .inputBox input,
.contact .brand .inputBox textarea {
  font-family: gilroyRegular;
  font-weight: 400;
  font-size: 1.09em;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 10px;
  background: transparent;
  outline: none;
  border: none;
  color: white;
  border-bottom: 2px solid rgba(31, 194, 77, 0.3019607843);
}
.contact .brand .inputBox input:focus + label,
.contact .brand .inputBox textarea:focus + label {
  transform: scale(0.7) translate(-25%, -130%);
  color: #1fc24d;
}
.contact .brand .inputBox textarea {
  resize: none;
}
.contact .brand .inputBox textarea::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 8px;
}
.contact .brand .inputBox textarea::-webkit-scrollbar-track {
  width: 8px;
}
.contact .brand .inputBox .active {
  transform: scale(0.7) translate(-25%, -130%);
  color: #1fc24d;
}
.contact .brand button {
  font-family: gilroyBold;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 1.2em;
  background: #1fc24d;
  border-radius: 10px;
  cursor: pointer;
}
.contact .brand .socials {
  margin: 0px auto;
  margin-top: 20px;
  text-align: center;
}
.contact .brand .socials a {
  margin: 0px 10px;
}
.contact .images {
  position: absolute;
  top: 50%;
  width: 150%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 830px) {
  .contact .images {
    width: 120%;
  }
}
@media screen and (max-width: 670px) {
  .contact .images {
    width: 100%;
    height: 120%;
  }
}
.contact .images img {
  width: 170px;
  height: 170px;
  position: absolute;
}
@media screen and (max-width: 670px) {
  .contact .images img {
    display: none;
  }
}
.contact .images img:nth-child(1) {
  left: 0%;
  top: 10%;
  animation: fleftanimation 1.5s 1;
}
@media screen and (max-width: 670px) {
  .contact .images img:nth-child(1) {
    top: 0%;
    left: -10px;
    display: block;
  }
}
@keyframes fleftanimation {
  from {
    left: 10%;
  }
  to {
    left: 0%;
  }
}
.contact .images img:nth-child(2) {
  right: 0%;
  top: 10%;
  animation: frightanimation 1.5s 1;
}
@keyframes frightanimation {
  from {
    right: 10%;
  }
  to {
    right: 0%;
  }
}
@media screen and (max-width: 670px) {
  .contact .images img:nth-child(2) {
    top: 0%;
    display: block;
    right: -10px;
  }
}
@media screen and (max-width: 460px) {
  .contact .images img:nth-child(2) {
    display: none;
  }
}
.contact .images img:nth-child(3) {
  left: 5%;
  top: 40%;
  animation: sleftanimation 2s 1;
}
@keyframes sleftanimation {
  from {
    left: 10%;
  }
  to {
    left: 5%;
  }
}
.contact .images img:nth-child(4) {
  right: 5%;
  top: 40%;
  animation: srightanimation 2s 1;
}
@keyframes srightanimation {
  from {
    right: 10%;
  }
  to {
    right: 5%;
  }
}
.contact .images img:nth-child(5) {
  left: 10%;
  bottom: 10%;
  animation: lleftanimation 2.5s 1;
}
@keyframes lleftanimation {
  from {
    left: 15%;
  }
  to {
    left: 10%;
  }
}
@media screen and (max-width: 670px) {
  .contact .images img:nth-child(5) {
    bottom: 0%;
    display: block;
    left: -10px;
  }
}
@media screen and (max-width: 460px) {
  .contact .images img:nth-child(5) {
    display: none;
  }
}
.contact .images img:nth-child(6) {
  right: 10%;
  bottom: 10%;
  animation: lrightanimation 2.5s 1;
}
@keyframes lrightanimation {
  from {
    right: 15%;
  }
  to {
    right: 10%;
  }
}
@media screen and (max-width: 670px) {
  .contact .images img:nth-child(6) {
    bottom: 0%;
    right: -10px;
    display: block;
  }
}

.container {
  max-width: 1400px;
  width: 95%;
  margin: auto;
}

a {
  text-decoration: none;
}

.work__container .section__tag {
  text-align: center;
}
.work__container h2 {
  text-align: center;
  margin: auto;
}

.about__page__header {
  text-align: center;
}
.about__page__header h2 {
  font-style: gilroyBold;
  font-weight: 700;
  font-size: 3em;
}
.about__page__header p {
  font-family: gilroyRegular;
  letter-spacing: 1.5px;
  line-height: 1.4em;
  font-size: 1.1em;
  width: 100%;
  max-width: 600px;
  font-weight: 500;
  margin: 0px auto;
}
.about__page__header p span {
  font-weight: 700;
  color: #1b9e40;
}
.about__page .adv__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about__page .adv__info h2 {
  margin: 0px;
}
.about__page .adv__info h4 {
  margin: 10px 0px;
  font-size: 1.9em;
}/*# sourceMappingURL=styles.css.map */