@import "../../styles/base";
footer {
  background: #ffffff0d;
  padding: 3vw 10vw;
  text-align: center;
  position: relative;
  overflow: hidden;

  .footer__heading {
    font-family: gilroyBold;
    font-size: $text--normal;
    @media screen and (max-width: 400px) {
      font-size: $text--xs;
    }
    line-height: 1.1em;
    span {
      color: $green;
      display: inline-block;
      margin: 0px 1px;
      &:nth-child(2) {
        transform: rotate(-10deg);
        @keyframes rotate1 {
          0% {
            transform: rotate(-10deg);
          }
          50% {
            transform: rotate(10deg);
          }
          100% {
            transform: rotate(-10deg);
          }
        }
      }
      &:nth-child(3) {
        transform: rotate(10deg);
      }
      &:nth-child(4) {
        transform: rotate(-10deg);
      }
      &:nth-child(5) {
        transform: rotate(-10deg);
      }
      &:nth-child(6) {
        transform: rotate(10deg);
      }
      &:nth-child(7) {
        transform: rotate(10deg);
      }
    }
  }

  .bgImg {
    position: absolute;
    top: 50%;
    width: 500px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    mix-blend-mode: lighten;
    animation: anim 4s 1s infinite;

    @keyframes anim {
      0%,
      100% {
        transform: translate(-50%, -50%) scale(4);
      }
      50% {
        transform: translate(-50%, -50%) scale(0);
      }
    }
  }

  .footer__img {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    margin-bottom: 0px;
    img {
      width: 30%;
      height: auto;

      @media screen and (max-width: 768px) {
        width: 60%;
      }

      @media screen and (max-width: 580px) {
        width: 90%;
      }
    }
  }
  ul {
    margin-bottom: 3vw;
    padding: 0px;
    // @media screen and (max-width: 768px) {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   gap: 30px;
    //   text-align: center;
    // }
    // @media screen and (max-width: 400px) {
    //   display: grid;
    //   grid-template-columns: 1fr;
    //   gap: 30px;
    //   text-align: center;
    // }
    li {
      list-style-type: none;
      display: inline;
      margin: 0px 20px 0px 0px;
      font-weight: 500;
      font-family: gilroyBold;

      a {
        color: rgba(255, 255, 255, 0.466);
        font-size: 1rem;
        text-transform: uppercase;
        transition: 0.5s;

        @media screen and (max-width: 400px) {
          font-size: 0.75rem;
        }

        &:hover {
          color: rgba(255, 255, 255, 0.89);
        }
      }
    }
  }
}
